@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  font-family: "Inter", sans-serif;
  position: relative;
  overflow-x: hidden;
  background-color: #090C0D;
}

html {
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: clamp(60px, 7vw, 140px);
  color: rgb(235, 235, 235);
  line-height: 100%;
  margin-bottom: 0px;
}

h2 {
  font-size: clamp(18px, 4vw, 24px);
  font-weight: 700;
  color: rgb(235, 235, 235);
}

h3 {
  font-size: clamp(12px, 2vw, 20px);
  font-weight: 500;
  color: rgb(235, 235, 235);
  letter-spacing: 2px;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(235, 235, 235);
}

.logo {
  width: clamp(50px, 7vw, 130px);
}

.btn-1 {
  border-radius: 6px;
  border: 1px solid rgb(235, 235, 235);
  height: clamp(300px, 35vh, 450px);
  display: flex;
  align-items: end;
  position: relative;
  background-color: #161C1C;
  transition: all 500ms;
}
.btn-1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-1:hover {
  cursor: pointer;
  transform: scale(1.01);
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 8px rgba(162, 188, 218, 0.2);
}
.btn-1:hover::before {
  opacity: 1;
}

@media only screen and (max-width: 576px) {
  .btn-1 {
    border-radius: 6px;
    border: 1px solid rgb(235, 235, 235);
    height: clamp(100px, 20vh, 450px);
    display: flex;
    align-items: end;
    position: relative;
    background-color: #161C1C;
    transition: all 500ms;
  }
  .btn-1 img {
    filter: opacity(0.3);
  }
}
.btn-1::before {
  border-radius: inherit;
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms;
}

.btn-2 {
  background-color: #7F4646;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(235, 235, 235);
  width: fit-content;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
}
.btn-2:hover {
  background-color: #D86969;
}

.modal-content, .offcanvas {
  background-color: #161C1C;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 6px;
}

.offcanvas-body {
  border-right: 1px solid rgb(235, 235, 235);
  border-bottom-right-radius: 6px;
}

.offcanvas-header {
  border-right: 1px solid rgb(235, 235, 235);
  border-top-right-radius: 6px;
}

.clockedIn-color {
  background-image: linear-gradient(to left, rgba(83, 133, 83, 0.5), transparent);
}

.clockedOut-color {
  background-image: linear-gradient(to left, rgba(216, 105, 105, 0.5), transparent);
}

.bg-light-black {
  background-color: #161C1C;
}

.side-bar {
  background-color: #161C1C;
}

.btn-close {
  background-color: rgb(235, 235, 235);
  opacity: 1;
}

.btn-no-style {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: rgb(235, 235, 235);
  transition: all 0.6s;
  border-radius: 6px;
  transition: all 0.5s ease;
}
.btn-no-style:hover {
  transform: translate(-1px, -1px);
}

.clickable {
  cursor: pointer;
}

.employee-list-item {
  border-radius: 6px;
  border: 1px solid rgb(235, 235, 235);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 1rem;
  transition: all 0.5s ease;
}
.employee-list-item:hover {
  cursor: pointer;
  transform: translate(-1px, -1px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.hours-list-item {
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.hours-list-item:hover {
  cursor: pointer;
}

table {
  width: 100%;
  border-spacing: 0 0.5em;
  border-collapse: separate;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table tr:first-child th:first-child,
table tr:first-child td:first-child {
  border-top-left-radius: 6px;
}

table tr:first-child th:last-child,
table tr:first-child td:last-child {
  border-top-right-radius: 6px;
}

td:last-child {
  border-bottom-right-radius: 6px;
}

td:first-child {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

th:last-child {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

th:first-child {
  border-bottom-left-radius: 6px;
}

.active {
  background-color: rgba(235, 235, 235, 0.2);
}

.items-container {
  background-color: #161C1C;
  border-radius: 6px;
  padding: 1.5rem;
}

a:hover {
  cursor: pointer;
}

.h1-reduced {
  font-weight: 700;
  font-size: clamp(36px, 7vw, 100px);
}

.font-small {
  font-size: 12px;
}
.font-small__blue {
  font-size: 12px;
  color: #002FD6;
}

.font-bold {
  font-weight: 800;
}

.btn-primary {
  border-radius: 24px;
  border: none;
  background-color: #002FD6;
  color: white;
  padding: 5px 15px;
  width: auto;
  transition: all 0.3s;
  position: relative;
}
.btn-primary:hover {
  background-color: #0229b8;
  color: white;
  transform: scale(1.02);
  transform: translateY(-1px);
  box-shadow: 2px 2px 2px rgba(33, 37, 41, 0.3);
}

.btn-tertiary {
  font-size: 12px;
  color: #002FD6;
  background-color: transparent;
  border: none;
}

.btn-alert {
  border-radius: 24px;
  border: none;
  background-color: #f56161;
  color: white;
  padding: 5px 15px;
  width: auto;
  transition: all 0.3s;
  position: relative;
}
.btn-alert:hover {
  background-color: #7e1c1c;
  color: white;
  transform: scale(1.02);
  transform: translateY(-1px);
  box-shadow: 2px 2px 2px rgba(33, 37, 41, 0.3);
}

.btn-large {
  border: none;
  border-radius: 6px;
  width: 75%;
  padding: 1.5rem;
  transition: all 0.4s;
  background-color: white;
  color: black;
  width: clamp(250px, 100%, 500px);
}
.btn-large:hover {
  background-color: rgb(219, 219, 219);
  transform: translateY(-1px);
  box-shadow: 2px 2px 2px rgba(33, 37, 41, 0.3);
}

.hover-effect {
  transition: all 0.4s;
}
.hover-effect:hover {
  background-color: rgb(219, 219, 219);
  transform: translateY(-1px);
  box-shadow: 2px 2px 2px rgba(33, 37, 41, 0.3);
  cursor: pointer;
}

.bg-image {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -5;
  background-image: linear-gradient(to bottom, rgb(21, 21, 21), rgba(21, 21, 21, 0.6)), url("images/heroimg.jpg");
  background-size: cover;
}

.full-container {
  overflow: hidden;
}

.form-container {
  background-color: #161C1C;
  width: clamp(300px, 25vw, 350px);
  padding: 2rem;
  border: 1px solid white;
}

input.form-control:focus {
  box-shadow: 1px 1px 2px rgba(0, 47, 214, 0.3);
}

button.btn-close:focus {
  box-shadow: 1px 1px 2px rgba(0, 47, 214, 0.3);
}

.pos-b {
  padding: 5em 10em;
  margin-top: 0;
}

.pos-tr {
  height: 50vh;
  padding: clamp(2rem, 10%, 10em);
}

.bg-dark {
  height: 100vh;
  background-color: #212529;
}

.mobile-container {
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .mobile-container {
    height: auto;
  }
  .btn-large {
    padding: 1rem;
  }
}
.container-fluid {
  padding-left: clamp(5px, 5vw, 100px);
  padding-right: clamp(5px, 5vw, 100px);
  position: relative;
}

.btn {
  outline: none;
  border: none;
  border-radius: 0px;
  font-weight: 200;
  color: black;
  transition: all 0.4s;
  z-index: 10;
}
.btn.button_xl {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: max(2vw, 24px);
}
.btn.button_xl:hover {
  background-color: #D1DBBD;
  color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}
.btn.button-main {
  width: clamp(100px, 10%, 150px);
  background-color: #91AA9D;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}
.btn.button-main:hover {
  background-color: #7e968a;
}
.btn.button-secondary {
  background-color: white;
  border: 1px solid #91AA9D;
  width: clamp(100px, 10%, 150px);
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}
.btn.button-secondary:hover {
  background-color: #7e968a;
  color: white;
  border: 1px solid #91AA9D;
}
.btn.button-lg {
  width: clamp(200px, 30%, 250px);
  background-color: #91AA9D;
  font-weight: 600;
  color: white;
}
.btn.button-lg:hover {
  background-color: #7e968a;
}
.btn.button-lg__alert {
  width: clamp(100px, 30%, 250px);
  background-color: rgb(230, 132, 132);
  color: white;
  font-weight: 600;
}
.btn.button-lg__alert:hover {
  background-color: rgb(196, 105, 105);
}
.btn.button-lg__option {
  width: clamp(100px, 30%, 250px);
  background-color: #91AA9D;
  color: white;
  font-weight: 600;
}
.btn.button-lg__option:hover {
  background-color: #7e968a;
}

.hover:hover {
  cursor: pointer;
}

nav a.active {
  font-weight: 800;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.container-centered {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.header {
  margin-top: 10rem;
}
.header_primary {
  font-weight: 900;
}
.header_secondary {
  font-size: max(1.5vw, 14px);
}
.header_wrapper {
  margin: 10% auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.mt-medium {
  margin-top: clamp(1rem, 6vw, 5rem);
}

.circle {
  width: clamp(600px, 90vw, 1500px);
  height: clamp(600px, 90vw, 1500px);
  position: absolute;
  border-radius: 50%;
  top: max(-1100px, -120vw);
  right: max(-600px, -50vw);
  background-color: #D1DBBD;
  z-index: -5;
}

.navbar {
  background-color: #91AA9D;
}

.home-button-group {
  margin-top: clamp(20px, 5vw, 138px);
  display: flex;
  justify-content: space-evenly;
}
.home-button-group .button-container {
  width: clamp(400px, 20vw, 100vw);
  height: clamp(150px, 25vw, 250px);
  padding: 1rem;
}

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
  justify-content: center;
}
.search-bar input {
  border-radius: 0;
  width: 50%;
}

.employee-card {
  text-align: center;
  width: clamp(140px, 20vw, 250px);
  padding: 1% 0;
}
.employee-card img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.4s;
}
.employee-card img:hover {
  transform: scale(1.02);
  cursor: pointer;
  filter: sepia(0.4);
}
.employee-card h3 {
  font-size: 1.2rem;
  margin: 1rem 0 0 0;
  font-weight: 500;
}

.calendar-container {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: auto;
  margin-top: 3rem;
}

.tracking-icon {
  color: rgb(230, 132, 132);
  width: 1rem;
  height: 1rem;
  margin-right: 0.1rem;
}

.hours-card {
  text-align: center;
  width: 10rem;
  height: 10rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  transition: all 0.4s;
  position: relative;
}
.hours-card .close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  transition: all 0.4s;
}
.hours-card .close-icon:hover {
  transform: scale(1.05);
  color: #91AA9D;
}
.hours-card:hover {
  cursor: pointer;
  background-color: #FCFFF5;
  transform: scale(1.01);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.hours-card h4 {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0;
}
.hours-card h5 {
  font-size: 0.8rem;
  font-weight: 300;
}
.hours-card .start-end-times {
  font-size: 0.7rem;
  margin: 1rem auto;
}
.hours-card .hours-worked {
  font-weight: 900;
}

@media only screen and (max-width: 992px) {
  .employee-card img {
    width: clamp(5rem, 5em, 8rem);
    height: clamp(5rem, 5em, 8rem);
  }
}
@media only screen and (max-width: 576px) {
  .search-bar input {
    width: 100%;
  }
  .button-main {
    margin-top: 1rem;
  }
  .employee-card img {
    width: 5rem;
    height: 5rem;
  }
  .employee-card h3 {
    font-size: 1rem;
    margin: 0.2rem 0 0 0;
    font-weight: 500;
  }
  .employee-card P {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=App.css.map */
