@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

//Old color palette
$green-light: #FCFFF5;
$green-mid: #D1DBBD;
$green-dark: #91AA9D;
$green-dark-hover: #7e968a;
$blue-mid: #3E606F;
$blue-mid-hover: #2f4955;
$blue-dark: #193441;
$gray-mid: rgb(146, 151, 150);
$red: rgb(230, 132, 132);
$red-hover: rgb(196, 105, 105);

$shadow: 2px 2px 5px rgba(0, 0, 0, .3);

//New color palette
$blue-primary: #002FD6; 
$blue-hover: #0229b8;
$white: #fff;
$black: #151515;
$alert: #f56161;
$alert-hover: #7e1c1c;


body{
    font-family: 'Inter', sans-serif;
    position: relative;
    overflow-x: hidden;
}

h1{
    font-weight: 700;
    font-size: 98px;
}

h2{
    font-size: 36px;
    font-weight: 400;
}

h3{
    font-size: 24px;
    font-weight: 400;
}

p{
    font-size: 16px;
    font-weight: 300;
}

a{
    &:hover{
        cursor: pointer;
    }
}

.font-small{
    font-size: 12px;

    &__blue{
        font-size: 12px;
        color: $blue-primary;
    }
}

.font-bold{
    font-weight: 800;
}

.btn-primary{
    border-radius: 24px;
    border: none;
    background-color: $blue-primary;
    color: white;
    padding: 5px 15px;
    width: auto;
    transition: all .3s;
    position: relative;

    &:hover{
        background-color: $blue-hover;
        color: white;
        transform: scale(1.02);
        transform: translateY(-1px);
        box-shadow: 2px 2px 2px rgba($black, .3);
    }
}

.btn-tertiary{
    font-size: 12px;
    color: $blue-primary;
    background-color: transparent;
    border: none;
}

.btn-alert{
    border-radius: 24px;
    border: none;
    background-color: $alert;
    color: white;
    padding: 5px 15px;
    width: auto;
    transition: all .3s;
    position: relative;

    &:hover{
        background-color: $alert-hover;
        color: white;
        transform: scale(1.02);
        transform: translateY(-1px);
        box-shadow: 2px 2px 2px rgba($black, .3);
    }
}

.btn-large{
    border: none;
    border-radius: 6px;
    width: 75%; 
    padding: 1.5rem;
    transition: all .4s;

    &:hover{
        background-color: rgb(219, 219, 219);
        transform: translateY(-1px);
        box-shadow: 2px 2px 2px rgba($black, .3);
    }
}

.hover-effect{
    transition: all .4s;

    &:hover{
        background-color: rgb(219, 219, 219);
        transform: translateY(-1px);
        box-shadow: 2px 2px 2px rgba($black, .3);
        cursor: pointer;
    }
}

.bg-image{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -5;
    background-image: linear-gradient(to bottom, rgba(21, 21, 21, 1), rgba(21, 21, 21, 0.6)), url('images/heroimg.jpg');
    background-size: cover;
}

.full-container{
    overflow: hidden;
}

.form-container{
    background-color: $white;
    // width: 23vw;
    width: clamp(300px, 25vw, 350px);
    padding: 2rem;
}

input.form-control:focus{
    box-shadow: 1px 1px 2px rgba($blue-primary, .3);
}

button.btn-close:focus{
    box-shadow: 1px 1px 2px rgba($blue-primary, .3);
}

//POSITIONS
.pos-b{
    padding: 5em 10em;
    margin-top: 0;
}

.pos-tr{
    height: 50vh;
    padding: clamp(2rem, 10%, 10em);
}

.bg-dark{
    height: 100vh;
    background-color: $black;
}

















//Bootstrap overrides
.container-fluid{
    padding-left: clamp(5px,  5vw, 100px);
    padding-right: clamp(5px,  5vw, 100px);
    position: relative;
}

.btn{
    outline: none;
    border: none;
    border-radius: 0px;
    font-weight: 200;
    color: black;
    transition: all .4s;
    z-index: 10;

    &.button_xl{
        width: 100%;
        height: 100%;
        background-color: white;
        box-shadow: $shadow;
        font-size: max(2vw, 24px);

        &:hover{
            background-color: $green-mid;
            color: black;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
            transform: scale(1.02);
        }

    }

    &.button-main{
        width: clamp(100px, 10%, 150px);
        background-color: $green-dark;
        color: white;
        margin-left: 5px;
        margin-right: 5px;

        &:hover{
            background-color: $green-dark-hover;
        }
    }

    &.button-secondary{
        background-color: white;
        border: 1px solid $green-dark;
        width: clamp(100px, 10%, 150px);
        color: black;
        margin-left: 5px;
        margin-right: 5px;

        &:hover{
            background-color: $green-dark-hover;
            color: white;
            border: 1px solid $green-dark;
        }
    }

    &.button-lg{
        width: clamp(200px, 30%, 250px);
        background-color: $green-dark;
        font-weight: 600;
        color: white;

        &:hover{
            background-color: $green-dark-hover;
        }

        &__alert{
            width: clamp(100px, 30%, 250px);
            background-color: $red;
            color: white;
            font-weight: 600;

            &:hover{
                background-color: $red-hover;
            }
        }

        &__option{
            width: clamp(100px, 30%, 250px);
            background-color: $green-dark;
            color: white;
            font-weight: 600;

            &:hover{
                background-color: $green-dark-hover;
            }
        }
    }


}

.hover{
    &:hover{
        cursor: pointer;
    }
}

// input.form-control{
//     border-radius: 0px;

//     &:focus{
//         border-color: $green-dark;
//         box-shadow: 0 1px 1px rgba(0,0,0, .75) inset, 0 0 2px $green-dark;
//     }
// }

nav a.active{
    font-weight: 800;
    text-shadow: $shadow;
}

//GENERAL CLASSES
.container-centered{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.header{
    margin-top: 10rem;

    &_primary{
        font-weight: 900;
    }

    &_secondary{
        font-size: max(1.5vw, 14px);
    }

    &_wrapper{
        margin: 10% auto 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

.mt-medium{
    margin-top: clamp(1rem, 6vw, 5rem);
}

// HOME PAGE
.circle{
    width: clamp(600px, 90vw, 1500px);
    height:  clamp(600px, 90vw, 1500px);
    position: absolute;
    border-radius: 50%;
    top: max(-1100px, -120vw);
    right: max(-600px, -50vw);
    background-color: $green-mid;
    z-index: -5;
}

.navbar{
    background-color: $green-dark;

}

.home-button-group{
    margin-top: clamp(20px, 5vw, 138px);
    display: flex;
    justify-content: space-evenly;

    .button-container{
        width: clamp(400px, 20vw, 100vw);
        height: clamp(150px, 25vw, 250px);
        padding: 1rem;
    }
}

//DEMO PAGE - SEARCH
.search-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: center;
    
        input{
            border-radius: 0;
            width: 50%;
        }
}

.employee-card{
    text-align: center;
    width: clamp(140px, 20vw, 250px);
    padding: 1% 0;
    
    img{
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        object-fit: cover;
        transition: all .4s;

        &:hover{
            transform: scale(1.02);
            cursor: pointer;
            filter: sepia(.4);
        }
    }

    h3{
        font-size: 1.2rem;
        margin: 1rem 0 0 0;
        font-weight: 500;
    }
}

.calendar-container{
    box-shadow: $shadow;
    width: 100%;
    height: auto;
    margin-top: 3rem;
}

.tracking-icon{
    color: $red;
    width: 1rem;
    height: 1rem;
    margin-right: .1rem;
}

.hours-card{
    text-align: center;
    width: 10rem;
    height: 10rem;
    box-shadow: $shadow;
    padding: 1rem;
    transition: all .4s;
    position: relative;

    .close-icon{
        position: absolute;
        right: 5px;
        top: 5px;
        transition: all .4s;

        &:hover{
            transform: scale(1.05);
            color: $green-dark;
        }
    }

    &:hover{
        cursor: pointer;
        background-color: $green-light;
        transform: scale(1.01);
        box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
    }

    h4{
        font-size: 1.3rem;
        font-weight: 300;
        margin: 0;
    }

    h5{
        font-size: .8rem;
        font-weight: 300;
    }

    .start-end-times{
        font-size: .7rem;
        margin: 1rem auto;
    }

    .hours-worked{
        font-weight: 900;
    }
}

@media only screen and (max-width: 992px){
    .employee-card{
        img{
            width: clamp(5rem, 5em, 8rem);
            height: clamp(5rem, 5em, 8rem);
        }
    }
}

//SMALL BREAKPOINT///////////
@media only screen and (max-width: 576px){

    .search-bar{
        input{
            width: 100%;
        }
    }

    .button-main{
        margin-top: 1rem;
    }

    .employee-card{
    
        img{
            width: 5rem;
            height: 5rem;

        }
    
        h3{
            font-size: 1rem;
            margin: .2rem 0 0 0;
            font-weight: 500;
        }

        P{
            font-size: .8rem;
        }
    }

}

